* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    background-color: #264653;
    padding: 5rem;
    font-family: Roboto;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
}

nav {
    ul{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        list-style: none;
        li {
            margin: 1rem;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: #e76f51;
        }
    }
}

main {
    display: grid;
}
.grid-even-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    @media (min-width: 40em) {
        .grid-even-columns {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
.top {
    height: 40vh;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
}

.card {
    display:flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    margin: 1rem 0.5rem;
    img {
        width: 100%;
        height: 100%;
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    height: 15rem;
}